{% extends "base.html" %}

{% block content %}

<div class="profile-details-container">
    <div class="profile-details">
        <h3 class="profile-titles">My Account</h3>
        <hr>
        <div class="profile-user-details">
            <p class="user-details"><strong>Username:</strong> {{ user.username }}</p>
            <p class="user-details"><strong>First Name:</strong> {{ user.first_name }}</p>
            <p class="user-details"><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p class="user-details"><strong>Email:</strong> {{ user.email }}</p>
        </div>

        {% if user.is_authenticated %}
                <div class="center-button">
                <a href="{% url 'users:editprofile' %}"><button id="editprofile">+ Edit details</button></a>
                </div>
        {% else %}
            <p><a href="{% url 'login' %}">Login to edit this profile</a></p>
        {% endif %}
    </div>
</div>

<h3 class="profile-titles">Your upcoming events:</h3>
<hr>
<div class = "container">
        <div class ="row">
            {% if events_list %}
                {% for event in events_list %}
                    {% if event.is_past_event %}
                    {% else %}
                        {% include "./detailsBox.html" with event=event %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>You're not hosting any events.</p>
            {% endif %}
        </div>
    </div>

<h3 class="profile-titles">Your past events:</h3>
<hr>
<div class = "container">
        <div class ="row">
            {% if events_list %}
                {% for event in events_list %}
                    {% if event.is_past_event %}
                        {% include "./detailsBox.html" with event=event %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>You don't have any past events.</p>
            {% endif %}
        </div>
</div>


{% endblock %}

