<div class="details-box col-md-6 col-lg-4">
    <div class="card h-100">
        <a href="{% url 'eventFinderApp:event' event.id %}">
            <img src="{{ event.event_image.url }}" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">{{ event.title }}</h3>
                <p class="event-start-details">{{ event.start_time }}</p>
                <div class="category-container">
                    {% for cat in event.categories.all %}
                    <p class="categories"> {{ cat.name }}</p>
                    {% endfor %}
                </div>
                <hr />
                <p class="card-text">{{ event.short_description }}</p>
                <div class="text-center mt-4">
                    <a href="{% url 'eventFinderApp:event' event.id %}" class="check-it-out">Check it out</a>
                </div>
                <div class="edit-details-container">
                    {% if user.is_authenticated %}
                    {% if user.pk == event.host.pk %}
                    <a href="{% url 'eventFinderApp:editevent' event.id %}" class="edit-details">Edit details</a>
                    {% endif %}
                    {% endif %}
                </div>
        </a>
    </div>
</div>
</div>