{% extends "base.html" %}

{% block content %}

<h2>{{ event.title }}</h2>
<h3>Hosted by: {{ event.host.first_name }} {{ event.host.last_name }}</h3>

<p>{{ event.location }}</p>
<p>Venue: {{ event.venue }}</p>
<p>Event Categories:</p>
    {% for cat in event.categories.all %}
        <p> {{ cat.name }}</p>
        {% endfor %}
<p>Starts at: {{ event.start_time }}</p>
<p>Ends at: {{ event.end_time }}</p>
<p>Description: {{ event.event_description }}</p>

{% if user.is_authenticated %}
   {% if user.pk == event.host.pk %}
       <a href="{% url 'eventFinderApp:editevent' event.id %}"><button id="editevent">+ Edit details</button></a>
   {% else %}
       <p>Contact {{event.host.username}} if you would like to change event details</p>
       {% endif %}
{% else %}
   <p><a href="{% url 'login' %}">Login to edit this event</a></p>
{% endif %}

{% endblock %}