{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

    {% if request.user.is_authenticated %}
    <!-- Do something for authenticated users. -->
        <a href="{% url 'eventFinderApp:add_event' %}"><button id="new-event">+ Create new event</button></a>
    {% else %}
    <!-- Do something for anonymous users. -->
        <a href="{% url 'login' %}"><button id="new-event">Login to create an event</button></a>
    {% endif %}
<h3>See what's on!</h3>

<form method="GET">
    {{ filter.form|bootstrap }}
    <button type="submit" class="btn btn-primary">Search</button>
</form>


<h2> Current Events</h2>
{% if events_list %}
    {% for event in filter.qs %}
        {% if event.is_past_event %}
        {% else %}
            {% include "./detailsBox.html" with event=event %}
        {% endif %}
    {% endfor %}
{% endif %}

<h2> Past Events</h2>

{% if events_list %}
    {% for event in filter.qs %}
        {% if event.is_past_event %}
            {% include "./detailsBox.html" with event=event %}
        {% endif %}
    {% endfor %}
{% endif %}


{% endblock %}