html {
    /* font-family: 'Montserrat', sans-serif; */
}

body {
    margin: 0px 50px;
    background-color: #e6eaea;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 30px -50px 0px -50px;
    font-size: 13px;
}

header {
    margin: 0px -50px 0px -50px;
}

p {
    font-size: 13px;
}

nav a {
    margin: 0 10px;
}

a {
    color: #ff006f;
}

#new-event {
    width: 100%;
    background-color: #ff006f;
    color: #fff;
    border: 1px solid #ff006f;
    border-radius: 5px;
    font-size: 1.5rem;
    height: 50px;
    cursor: pointer;
}

#new-event:hover {
    text-decoration: underline;
}

.details-box {
margin-bottom: 20px;
overflow: hidden!important;
}

.details-box img {
    /* width: 100%; */
    height: 15vw;
    object-fit: cover;
    transition: .5s ease;
    border-radius: 0px;
    margin-bottom: 0px;
}
@media (max-width:900px) {
    .details-box img {
        height: 40vw;
    }
  }

.details-box:hover img {
    transform: scale(1.1);
}

.details-box a {
    color: #000 !important;
    text-decoration: none;
}

.details-box a:hover {
}

.details-box .btn-primary {
    margin-bottom: 10px;
    background-color: #facf48;
    border-color: #facf48;
}
.details-box .btn-primary:hover {
    margin-bottom: 10px;
    background-color: #ddac35;
    border-color: #ddac35;
}


.btn-danger {
    background-color: #facf48;
    border-color: #facf48;
    color: #343a40;
}
.btn-danger:hover {
    background-color: #ddac35;
    border-color: #ddac35;
    color: #343a40;
}

.dropdown-item {
    width: 90%;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 30px;
}

.card {
    border-radius: 0px;
    color: white;
    overflow: hidden;
}

.card-title {
    font-size: 15px;
    padding: 0px;
}

.event-start-details {
    font-size: 12px;
    text-transform: uppercase;
    color: #ababab;
}
.category-container {
    display: flex;
    justify-content: flex-start;
}
.categories {
    padding: 5px 10px;
    font-size: 10px;
    background-color: #00fefe;
    margin-right: 10px;
    border-radius: 15px;
}

.event-filter-index {
    background-image: url("/static/froogle-banner.jpg");
    display: flex;
    padding: 15px 30px;
    text-align: center;
    margin: -30px -50px 30px -50px;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    background-attachment: fixed;
    background-position: right 0px bottom 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.event-filter-buttons {
    justify-content: center;
    display: flex;
    align-items: center;
}
.event-filter-index .btn-primary {
    margin: 10px;
}
.event-filter-index h3 {
    margin-bottom: 5px;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 4px #06676a;
}
.event-filter-index h6 {
    font-size: 35px;
    text-shadow: 2px 2px 4px #06676a;
}

.filter-btn {
    background-color: #333940;
    width: 75vw;
    border-radius: 35px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    margin-top: -58px;
    border: none;
    transition: 0.5s;
}
.filter-btn:hover {
    background-color: #ff006f;
}

.clear-filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.clear-filter {
    text-decoration: underline;
    color: #333940;
    font-size: 13px;
}

.check-it-out, #editprofile {
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px;
    cursor: pointer;
    margin: 20px;
    transition: .5s ease;
}
.check-it-out:hover, #editprofile:hover {
    color: #959595;
    border: 1px solid #959595;
    cursor: pointer;
}
.center-button {
    display: flex;
    justify-content: center;
}
.edit-details {
    font-size: 13px;
    text-align: center;
}
.edit-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: underline;
}

/* Event Page CSS */

.event-page-image {
    width: 100%;
    margin-bottom: 20px;
}

/* Profile Page CSS */
.profile-details-container {
    display: flex;
    justify-content: center;
}
.profile-details {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    width: 40vw;
}
@media (max-width:768px) {
    .profile-details {
        width: 80vw;
    }
  }
.profile-titles {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.profile-user-details {
    text-align: center;
}
.user-details {
    border: 1px solid #959595;
    padding: 10px;
    border-radius: 35px;
}

/* .filter-pop-up {
    display: block;
} */
.modal-content form {
    display: block;
}

.add-event-form input{

}

/* Dropdown in nav */
.highlight-btn {
    border-radius: 0px;
    background-color: #ff006f;
    color: white;
}
.highlight-btn:hover {
    background-color: #e91067;
    color: white;
}
.dropdown-menu-right {
    border-radius: 0px;;
}
.dropdown-toggle {
    border-radius: 0px;
}

.sm-page-container {
    width: 40vw;
}
@media (max-width:768px) {
    .sm-page-container {
        width: 80vw;
    }
  }
  .page-container {
      display: flex;
      justify-content: center;
  }

button.btn.btn-primary, button#editevent {
    background-color: #ff006f;
    border-radius: 0px;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    color: white
  }
  button.btn.btn-primary:hover, button#editevent:hover {
    background-color: #e91067;
    color: white;
  }